section.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input, .img-mobile {
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    transition: 1.5s;
}

.slide-box img {
    width: 105vw;
}

.nav-manual, .nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 62%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div {
    border: 1px solid #ff000859;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: #b40409;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

#radio5:checked ~ .first {
    margin-left: -100%;
}

#radio6:checked ~ .first {
    margin-left: -125%;
}

#radio1:checked ~ .nav-auto .auto-btn1 {
    background-color: #b40409;
}

#radio2:checked ~ .nav-auto .auto-btn2 {
    background-color: #b40409;
}

#radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: #b40409;
}

#radio4:checked ~ .nav-auto .auto-btn4 {
    background-color: #b40409;
}

#radio5:checked ~ .nav-auto .auto-btn5 {
    background-color: #b40409;
}

#radio6:checked ~ .nav-auto .auto-btn6 {
    background-color: #b40409;
}